@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .animation-delay-6000 {
    animation-delay: 6s;
  }
}

input[type="color"]::-webkit-color-swatch {
  visibility: hidden;
}
input[type="color"]::-moz-color-swatch {
  border: none;
}